<!DOCTYPE html>
<html>
<head>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>

    <script src="../js/index.js"></script>
    <!-- Optional -->
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../bower_components/angular-mass-autocomplete/massautocomplete.theme.css" rel="stylesheet" type="text/css">
</head>

<body ng-app=app>
                <div ng-controller=mainCtrl class="container">
                    <div mass-autocomplete class="inside">
                        <input ng-model="dirty.value"
                               mass-autocomplete-item="autocomplete_options">
                        <ul>
                            <li ng-repeat="tag in tags">
                                <!--<span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">-->
                                <!--{{tag.}}-->
                                <!--<a ng-show="showEdit" ng-click="$parent.deleteItem(tag)">Delete</a>-->
                                <!--</span>-->
                                <div class="plItem">
                                    <div class="plNum">{{tag.number}}.</div>
                                    <div class="plTitle">{{tag.value}} -- {{tag.artist}}</div>
                                    <div class="plLength">{{tag.duration}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
</body>
</html>