<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <script src="../bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="https://cdn.bootcss.com/aplayer/1.5.8/APlayer.min.js"></script>

    <script src="../js/index.js"></script>
    <!-- Optional -->
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../bower_components/angular-mass-autocomplete/massautocomplete.theme.css" rel="stylesheet" type="text/css">
</head>

<body ng-app=app>
                <div ng-controller=mainCtrl class="container">
                    <div mass-autocomplete class="inside">

                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form> <br>
                        <div id="title">Test Player</div>
                        <div id="author">by Vasile Tiberiu</div> <br>

                        <input id="auto" ng-model="dirty.value"
                               mass-autocomplete-item="autocomplete_options">

                        <div id="player" class="aplayer"></div>
                    </div>
                </div>
</body>
</html>