<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
</head>

<body>
                <div class="container">
                    <div class="inside">
                        <div id="title">ZaMusic</div>
                        <div id="author">by Vasile Tiberiu</div>

                        <div class="login">
                            <!--TODO: query script ( query.php ) for LOGIN-->
                            <form th:action="@{/login}"  method="post" class="centered">
                                    <span class="pageTitle">Login Page</span><br>
                                    <label>Username</label><br>
                                    <input required placeholder="Enter Username" type="text" name="username"><br>

                                    <label>Password</label><br>
                                    <input required placeholder="Enter Password" type="password" name="password"><br>

                                    <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
                                    <input type="submit" value="Login">


                                    <div class="innerLink">
                                        <label>No account?</label>
                                            <strong><a class="link" href="/register" id="login">Register</a></strong>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
</body>
</html>