html, body {
    background-color:#808080;
	margin: 20px;
}

.inside {
    position: absolute;
    background-color: #231F20;
    width: 50%; /*can be in percentage also.*/
    height: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
}

#title {
    font-size: 2em;
    position: relative;
    text-align: center;
    color: #ffffff;
}
#author {
    left: 35px;
    font-size: 1.25em;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.centered {
    position: relative;
    margin: 0 auto;
    text-align: center;
}


.innerLink {
    position: relative;
    top: 20px;
}

a {
    color: white;
}

.login {
    position: relative;
    top: 60px;
}

.login label{
    color: #FFFFFF;
}

.login input{
    display: inline-block;
    position: relative;
}

.register {
    position: relative;
    top: 60px;
}

.register label{
    color: #FFFFFF;
}

.register input{
    display: inline-block;
    position: relative;
}

.login input[type="submit"] {
    background-color: #5C5655;
    border: none;
    color: black;
    top:10px;
    padding: 7px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.login input[type="submit"]:hover {
    background-color: #FFFFFF;
}

.register input[type="submit"] {
    background-color: #5C5655;
    border: none;
    color: black;
    top:10px;
    padding: 7px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.register input[type="submit"]:hover {
    background-color: #FFFFFF;
}

.inner {
	border: 2px solid black;
    border-radius: 10px;	
}

.player{
	margin:30px;
	width: 50%;
	margin: 0 auto;
}


button{
	margin-left: 5px;
	margin-right: 5px;
	
}

p {
    position: relative;
    display: inline-block;
    color: white;
}


td, th {
    border: 1px solid black;
    border-radius: 10px;
}
table {
	margin: 15px 0;
  	border: 2px solid black;
    border-radius: 10px;
	table-layout: fixed;
	width: 100%; /* must have this set */
}

.sturdy td:nth-child(1){
	width: 15%;
	margin: 0 auto; 
	text-align:center;
}

.sturdy td:nth-child(2) {
	width: 32%;
} 

.sturdy td:nth-child(3) {
	width: 25%;
	margin: 0 auto; 
	text-align:center;	
}
.sturdy td:nth-child(4){
	width: 28%;
	margin: 0 auto; 
	text-align:center;	
}